{{#each this}}
<div class="item">
	<div class="wrap">
		<img src="{{item.img}}">
		<h2>[{{id}}]{{item.title}}</h2>
		<div>{{item.description}}</div>
		<ul>
			<li>{{statistic.views}}</li>
			<li>{{statistic.likes}}</li>
		</ul>
	</div>
</div>
{{/each}}