<div class="wrap-masonry js-wrap-masonry">
	{{#each this}}
	<div class="item" data-id="{{id}}">
		<div class="wrap">
			<div class="image">
				<img src="{{item.img}}">
				<div class="rating rating-{{statistic.rating}}"><i class="fa fa-star"></i></i></i> <span class="number">{{statistic.rating}}</span></div>
			</div>
			<div class="information">
				<h2 class="title">[{{id}}]{{item.title}}</h2>
				<div class="description">{{item.description}}</div>
				<ul class="statistic">
					<li class="view"><i class="fa fa-eye"></i> {{statistic.views}}</li>
					<li class="like"><i class="fa fa-heart"></i> {{statistic.likes}}</li>
					<li class="comment"><i class="fa fa-comment"></i></i> {{statistic.comments}}</li>
				</ul>
			</div>
			<div class="user">
				<div class="avatar">
					<a href="#" title="user profile"><img src="{{user.avatar}}" alt="{{user.name}}"/></a>
				</div>
				<div class="user-name">
					<a href="#" title="{{user.screen_name}}">{{user.screen_name}}</a>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>