<div class="logo layout-left"><a href="{{site.homePage}}" title="Collra"></a></div>
<div class="user-information layout-right">
	<div class="avatar">
		<a href="#/vi" title="{{user.firstName}} {{user.lastName}}"><img src="{{user.avatar}}" alt="avatar"/></a>
	</div>
	<div class="user-name">
		<a href="#" title="{{user.firstName}} {{user.lastName}}"><span class="first-name">{{user.firstName}}</span><span class="last-name">{{user.lastName}}</span></a>
	</div>
</div>
<div class="search-field layout-middle">
	<form action="" method="post">
		<!-- <input name="search" type="text"/> -->
		<ul class="js-tagit">
		</ul>
	</form>
</div>